<style type="text/css">
    .form-error {
        color: red;
        font-weight: bold;
        padding-bottom:10px;
    }
    .form-error ul {
        margin:0;
    }
</style>

{{ form_start(form) }}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="content col s12 m12 l8">

                <section class="formulas">
                    <div class="card bg_grey">
                        <div class="card-content">
                            <span class="card-title color_product_primary center-align">Étape 1</span>
                            <p class="h6 center-align">Choisissez votre produit</p>
                        </div>
                    </div>

                    {% for produit in produits %}

                        <label class="cure-radio">
                            <input name="order[cart][cart_products][0]" value="{{ produit.id }}" type="radio">
                            <article>

                                <div class="card center-align">
                                    <div class="row">
                                        <div class="col s12 m12 l4">
                                            <div class="image-content">
                                                <img src="{{ produit.image }}" alt="10 Nerf Elite Jolt© + 2 offerts" class="responsive-img">
                                            </div>
                                        </div>
                                        <div class="col s12 m6 l4">
                                            <div class="card-content">
                                                <p class="h6">
                                                    {{ produit.name }}
                                                </p>
                                                {% if produit.quantit %}
                                                    <p class="h5 color_brand_secondary">
                                                        + {{ produit.quantit }} OFFERTS
                                                    </p>
                                                {% else %}
                                                    <p>
                                                    </p>
                                                {% endif %}
                                                <p class="h4">
                                                    {{ produit.price|number_format }}
                                                    <span class="h6"><br>au lieu de <del class="h5 color_brand_secondary">  {{ produit.InitialPrice }} €</del></span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col s12 m6 l4">
                                            <div class="card-content">
                                                <p class="h6 color_brand_secondary">
                                                    J'économise{{ produit.economie|number_format }}€
                                                </p>
                                                <p class="h6">
                                                    {{ produit.content }}
                                                </p>
                                                <div class="picto-wrapper">
                                                    <img src="assets/images/like-product.png" class="responsive-img" alt="Garantie satisfait ou remboursé">
                                                    <p class="color_brand_primary">Satisfait<br>ou remboursé</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </label>
                    {% endfor %}

                    <h6 class="center-align">OUI ! Je veux profiter de cette offre exceptionnelle et créer une guerre au bureau.</h6>
                    <p class="center-align">Je bénéficie gratuitement de la garantie <b>100% satisfait ou remboursé</b><br>A tous moment durant ma cure, je peux retourner mes Nerfs et me faire rembourser immédiatement.</p>
                </section>
                <section class="benefices">
                    <h5 class="center-align color_product_primary">POURQUOI NERF EST AUSSI POPULAIRE EN OPEN SPACE</h5>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title color_product_primary">Qu'est ce que Nerf ?</span>
                            <p>
                                Les premiers modèles comprenaient la gamme Dart Tag (utilisée en compétition, et l'une des plus anciennes) et la gamme N-Strike. Depuis, plusieurs gammes ont été commercialisées : Zombie Strike (de couleur verte), Rebelle (marketés envers un public féminin), Élite et Élite XD (les plus puissantes), et Vortex (tirant des disques et possédant un modèle automatique appelé Nitron).
                            </p>
                            <p>
                                Des accessoires peuvent compléter le blaster, comme les viseurs, les crosses, et les rallonges de canon.
                            </p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col s12 l6">
                                <div class="card-content">
                                    <span class="card-title color_product_primary">Bienfaits :</span>
                                    <ul>
                                        <li>✔ Favorise la vengeance entre collègues</li>
                                        <li>✔ Aide à combattre l'injustice</li>
                                        <li>✔ Favorise le respect de chacun</li>
                                        <li>✔ Aide à traiter la dépression, la nervosité</li>
                                        <li>✔ Calme les esprits révolutionnaires</li>
                                        <li>✔ Aide à réduire les après-midi ennuyeuses</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="card-content">
                                    <span class="card-title color_product_primary">Nos Conseils :</span>
                                    <b>Conseils d’utilisation :</b>
                                    <p>Toujours viser la tête</p>
                                    <b>Soyez tactiques :</b>
                                    <p>
                                        Il est possible de tenter de créer des situations qu’on pense qui ne seront pas en faveur de notre adversaire. Par exemple,

                                        Prendre une garde gauche ou droite;
                                        Effectuer des déplacements qui seront déstabilisants pour l’adversaire;
                                        Utiliser un rythme qui désavantage l’adversaire selon son style de combattant;
                                        Intimider l’adversaire par son attitude ou son regard.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="banner">
                    <div class="row">
                        <div class="col m5ths s6">
                            <div class="picto-wrapper center-align">
                                <img src="assets/images/france.png" class="responsive-img" alt="Fabriqué en France">
                                <p class="color_brand_primary">Fabriqué<br><b>en France</b></p>
                            </div>
                        </div>
                        <div class="col m5ths s6">
                            <div class="picto-wrapper center-align">
                                <img src="assets/images/naturel.png" class="responsive-img" alt="100% naturel">
                                <p class="color_brand_primary">100%<br><b>Ecologique</b></p>
                            </div>
                        </div>
                        <div class="col m5ths s6">
                            <div class="picto-wrapper center-align">
                                <img src="assets/images/secure.png" class="responsive-img" alt="Paiement sécurisé">
                                <p class="color_brand_primary">Paiement<br><b>sécurisé</b></p>
                            </div>
                        </div>
                        <div class="col m5ths s6">
                            <div class="picto-wrapper center-align">
                                <img src="assets/images/chrono.png" class="responsive-img" alt="Votre commande est traitée en moins de 24h">
                                <p class="color_brand_primary">Livraison<br><b>Colis suivi</b></p>
                            </div>
                        </div>
                        <div class="col m5ths s6">
                            <div class="picto-wrapper center-align">
                                <img src="assets/images/like.png" class="responsive-img" alt="Paiement sécurisé">
                                <p class="color_brand_primary">100% Satisfait<br><b>ou remboursé</b></p>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="banner">
                    <div class="card">
                        <div class="row">
                            <div class="col s12 l4">
                                <div class="card-content picto-wrapper center-align">
                                    <img src="assets/images/chrono-big.png" class="responsive-img" alt="Votre commande est traitée en moins de 24h">
                                    <p class="color_brand_primary">Livraison<br><b>Colis suivi</b></p>
                                </div>
                            </div>
                            <div class="col s12 l8">
                                <div class="card-content">
                                    <p>Nous nous engageons à livrer votre commande le plus rapidement possible. Généralement, une commande est traitée en moins de 24h. Vous devez donc ensuite compter le temps de transport jusqu'à la livraison chez vous (généralement entre 24h et 48h). Les commandes passées le vendredi et le week-end sont traitées et expédiées le lundi qui suit.</p>
                                    <p>Pour toute livraison de produits extérieure à la France métropolitaine, les délais d'acheminement peuvent être légèrement plus importants.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {# Sidebar Form #}
            <aside class="sidebar col s12 m12 l4">

                <div class="card step_2">
                    <div class="card-content">
                        <span class="card-title color_product_primary center-align">Étape 2</span>
                        <p class="h6 center-align">Remplissez ce formulaire</p>
                        <div class="form-wrapper">
                            <div class="input-field">
                                {{ form_label(form.client.prenom, 'Prenom') }}
                                {{ form_widget(form.client.prenom) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.prenom) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.nom, 'Nom') }}
                                {{ form_widget(form.client.nom) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.nom) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.adresse, 'Adresse') }}
                                {{ form_widget(form.client.adresse) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.adresse) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.complement_adresse, 'Complément d\'adresse') }}
                                {{ form_widget(form.client.complement_adresse) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.complement_adresse) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.ville, 'Ville') }}
                                {{ form_widget(form.client.ville) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.ville) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.code_postal, 'Code postal') }}
                                {{ form_widget(form.client.code_postal) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.code_postal) }}
                                </div>
                            </div>
                            <div class="input-field">

                                {{ form_widget(form.client.pays) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.pays) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.telephone, 'Télephone') }}
                                {{ form_widget(form.client.telephone) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.telephone) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.email,'E-mail') }}
                                {{ form_widget(form.client.email) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.email) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_label(form.client.email_confirm,'Confirm your e-mail') }}
                                {{ form_widget(form.client.email_confirm) }}
                                <div class="form-error">
                                    {{ form_errors(form.client.email_confirm) }}
                                </div>
                            </div>

                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">markunread_mailbox</i>Adresse de livraison différente ?</div>
                                    <div class="collapsible-body">


                                        <div class="input-field">
                                            {{ form_label(form.livraison.premon, 'Prenom') }}
                                            {{ form_widget(form.livraison.premon) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.premon) }}
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            {{ form_label(form.livraison.nom, 'Nom') }}
                                            {{ form_widget(form.livraison.nom) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.nom) }}
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            {{ form_label(form.livraison.adresse, 'Adresse') }}
                                            {{ form_widget(form.livraison.adresse) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.adresse) }}
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            {{ form_label(form.livraison.complement_adresse, 'Complément d\'adresse') }}
                                            {{ form_widget(form.livraison.complement_adresse) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.complement_adresse) }}
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            {{ form_label(form.livraison.ville, 'Ville') }}
                                            {{ form_widget(form.livraison.ville) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.ville) }}
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            {{ form_label(form.livraison.code_postal, 'Code postal') }}
                                            {{ form_widget(form.livraison.code_postal) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.code_postal) }}
                                            </div>
                                        </div>
                                        <div class="input-field">

                                            {{ form_widget(form.livraison.pays) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.pays) }}
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            {{ form_label(form.livraison.telephone, 'Téléphone') }}
                                            {{ form_widget(form.livraison.telephone) }}
                                            <div class="form-error">
                                                {{ form_errors(form.livraison.telephone) }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {#  <button class="btn">{{ button_label|default('Save') }}</button> #}
                        {{ form_end(form) }}


                        <div class="card step_3">
                            <div class="card-content">
                                <span class="card-title color_product_primary center-align">Étape 3</span>
                                <p class="h6 center-align">Choisissez un paiement</p>
                                <ul class="collapsible">
                                    <li class="active">
                                        <div class="collapsible-header"><i class="fas fa-credit-card"></i>Payer avec la Carte Bancaire</div>
                                        <div class="collapsible-body card-form">
                                            <div class="row">
                                                <div class="center-align">
                                                    <button type="submit" name="order[payment_method]" value="lpmonetico" class="btn-large btn-block waves-effect waves-light">Continuer</button>
                                                    <p>J'accepte les <a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a></p>
                                                    <img class="responsive-img monetico" src="assets/images/paiement-securise-stripe.jpeg" alt="Stripe protège vos achats">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="fab fa-cc-paypal"></i>Payer avec Paypal</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="center-align">
                                                    <button type="submit" name="order[payment_method]" value="lppaypal" class="btn-large btn-block waves-effect waves-light">Continuer sur PayPal</button>
                                                    <p>J'accepte les <a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


